body {
    margin: 0;
    font-family: 'Recursive', sans-serif;}

/* horizontal nav bar */
header > nav {
    background-color: #6571A5;
    text-align: right;
    padding: 20px;
}

header > nav > a {
    font-size: medium;
    color: white;
    padding: 10px;
    text-decoration: none;
}

header > nav > a:hover {
    color: white;
    font-size: medium;
    text-decoration: none;
    background-color: #535F8F;
    padding: 21px;
}