/* Coolors Exported Palette - https://coolors.co/a683eb-f6eaf8-101116-6571a5-8ec9e9-232733 */

/* CSS */
--lavender-floral: hsla(260, 72%, 72%, 1);
--lavender-blush: hsla(291, 50%, 95%, 1);
--rich-black-fogra-29: hsla(230, 16%, 7%, 1);
--dark-blue-gray: hsla(229, 26%, 52%, 1);
--light-cornflower-blue: hsla(201, 67%, 74%, 1);
--raisin-black: hsla(225, 19%, 17%, 1);

/* SCSS HEX */
$lavender-floral: #A683EBff;
$lavender-blush: #F6EAF8ff;
$rich-black-fogra-29: #101116ff;
$dark-blue-gray: #6571A5ff;
$light-cornflower-blue: #8EC9E9ff;
$raisin-black: #232733ff;

/* SCSS HSL */
$lavender-floral: hsla(260, 72%, 72%, 1);
$lavender-blush: hsla(291, 50%, 95%, 1);
$rich-black-fogra-29: hsla(230, 16%, 7%, 1);
$dark-blue-gray: hsla(229, 26%, 52%, 1);
$light-cornflower-blue: hsla(201, 67%, 74%, 1);
$raisin-black: hsla(225, 19%, 17%, 1);

/* SCSS RGB */
$lavender-floral: rgba(166, 131, 235, 1);
$lavender-blush: rgba(246, 234, 248, 1);
$rich-black-fogra-29: rgba(16, 17, 22, 1);
$dark-blue-gray: rgba(101, 113, 165, 1);
$light-cornflower-blue: rgba(142, 201, 233, 1);
$raisin-black: rgba(35, 39, 51, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #A683EBff, #F6EAF8ff, #101116ff, #6571A5ff, #8EC9E9ff, #232733ff);
$gradient-right: linear-gradient(90deg, #A683EBff, #F6EAF8ff, #101116ff, #6571A5ff, #8EC9E9ff, #232733ff);
$gradient-bottom: linear-gradient(180deg, #A683EBff, #F6EAF8ff, #101116ff, #6571A5ff, #8EC9E9ff, #232733ff);
$gradient-left: linear-gradient(270deg, #A683EBff, #F6EAF8ff, #101116ff, #6571A5ff, #8EC9E9ff, #232733ff);
$gradient-top-right: linear-gradient(45deg, #A683EBff, #F6EAF8ff, #101116ff, #6571A5ff, #8EC9E9ff, #232733ff);
$gradient-bottom-right: linear-gradient(135deg, #A683EBff, #F6EAF8ff, #101116ff, #6571A5ff, #8EC9E9ff, #232733ff);
$gradient-top-left: linear-gradient(225deg, #A683EBff, #F6EAF8ff, #101116ff, #6571A5ff, #8EC9E9ff, #232733ff);
$gradient-bottom-left: linear-gradient(315deg, #A683EBff, #F6EAF8ff, #101116ff, #6571A5ff, #8EC9E9ff, #232733ff);
$gradient-radial: radial-gradient(#A683EBff, #F6EAF8ff, #101116ff, #6571A5ff, #8EC9E9ff, #232733ff);